img {
	max-width: 100%;
}

header .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

header .logo img {
	max-width: 300px;
}

header .cart {
	text-align: right;
}


.pagination-area {
	text-align: center;
}

.site-head {
	margin-bottom: 30px;
}

main .filter {
	text-align: right;
	margin-bottom: 20px;
}

main .filter-options {
	margin-bottom: 20px;
}