.logo {
	margin: 20px 0 30px 0;
}

.logo img {
	max-width: 300px;
}

.btn-primary {
	background-color: #d35400;
	border-color: #c0392b;
}

.btn-primary:hover {
	background-color: #c0392b;
	border-color: #c0392b;
}

.pagination-area {
	text-align: center;
}