a:hover {
    text-decoration: none;
}

img {
	max-width: 100%;
}

header {
    background-color: #2c3e50;
}

header .row {
	margin-top: 20px;
}

.navbar {
    border: 0 !important;
    background: none;
}

.navbar a {
    color: #fff !important;
}

.navbar li.active a {
    background: none !important;
}

.navbar-toggle span {
    color: #fff;
}

.site-head {
	margin-bottom: 30px;
}

main .filter {
	text-align: right;
	margin-bottom: 20px;
}

main .filter-options {
	margin-bottom: 20px;
}

aside h4 {
    margin-top: 40px;
    padding-bottom: 5px;
    border-bottom: 3px solid #2c3e50;
}

aside h4:first-child {
    margin-top: 0;
}

aside .price {
    width: 70px;
}

aside .cart {
    margin-bottom: 10px;
}

aside .cart .delete-btn {
    cursor: pointer;
}

aside .cart-element {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

aside .cart-element .cart-name {
    display: inline-block;
    width: 70%;
    margin-right: 1%;
}

aside .cart-element .cart-price {
    display: inline-block;
    width: 22%;
}

aside .cart-element .cart-delete {
    display: inline-block;
    width: 3%;
}

aside .category.active {
    font-weight: bold;
    color: #333;
}

.shoe-item .picture {
    text-align: center;
    min-height: 140px;
}

.shoe-item img {
    max-height: 140px;
    max-width: 80%;
}

.shoe-item {
    padding-top: 20px;
}

.shoe-item:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.shoe-item .buttons {
    text-align: center;
}

.shoe-item button {
    margin: 4px;
}

.modal-image {
    text-align: center;
    margin-bottom: 20px;
}

.modal-image img {
    max-height: 150px;
}